doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title MWF - Login
    link(rel='stylesheet' href='/css/login.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')
  body
    .login-container
      .login-box
        .logo-area
          img(src="/images/mwf-logo.png", alt="MWF Logo")
        
        h3 Welcome !

        form(action='/login' method='post' id='loginForm' novalidate)
          .input-group
            label(for='email') Email Address
            i.fas.fa-envelope
            input#email(type='email' name='email' placeholder='Enter your email')
            small.error-message#emailError

          .input-group
            label(for='password') Password
            i.fas.fa-lock
            input#password(type='password' name='password' placeholder='Enter your password')
            small.error-message#passwordError
          
          .forgot-password
            a(href='/forgot-password') Forgot Password?
          
          button.btn.btn-primary(type='submit') LOGIN

        //  Divider
        .or-continue
          span OR Continue With

        // Social Login Buttons
        .social-login
          a.social-btn.google(href="/google")
            i.fab.fa-google

          a.social-btn.github(href="/github")
            i.fab.fa-github

          a.social-btn.facebook(href="/facebook")
            i.fab.fa-facebook

        .register-link
          span Don't have an account yet? 
          a(href='/register') Register for free

    script(src="/js/login.js")
