//- doctype html
//- head
//-   meta(charset='UTF-8')
//-   meta(name='viewport' content='width=device-width, initial-scale=1.0')
//-   title MWF - Login
//-   link(rel='stylesheet' href='/css/login.css')
//- .login-container
//-   .login-box
//-     h2 MWF Login
//-     form(action='/login' method='post')
//-       .input-group
//-         label(for='email') Email Address
//-         input#email(type='email' name='email' placeholder='Enter email' required='')
//-       .input-group
//-         label(for='password') Password
//-         input#password(type='password' name='password' placeholder='Enter password' required='')
//-       button.btn(type='submit') Login
//- .or-continue
          //-   span or continue with
          
          //- .social-login
          //-   a.social-btn.google(href='/auth/google')
          //-     i.fab.fa-google
          //-   a.social-btn.github(href='/auth/github')
          //-     i.fab.fa-github
          //-   a.social-btn.facebook(href='/auth/facebook')
          //-     i.fab.fa-facebook-f
doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title MWF - Login
    link(rel='stylesheet' href='/css/login.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')
  body
    .login-container
      .login-box
        .logo-area
          img(src="/images/mwf-logo.png", alt="MWF Logo")
        
        h3 Welcome Back!
        
        form(action='/login' method='post' id='loginForm' novalidate)
          .input-group
            label(for='email') Email Address
            input#email(type='email' name='email' placeholder='Enter your email')
            small.error-message#emailError

          .input-group
            label(for='password') Password
            input#password(type='password' name='password' placeholder='Enter your password')
            small.error-message#passwordError
          
          .forgot-password
            a(href='/forgot-password') Forgot Password?
          
          button.btn.btn-primary(type='submit') LOGIN
          
          .register-link
            span Don't have an account yet? 
            a(href='/register') Register for free

    // Link external JS
    script(src="/js/login.js")
