doctype html
html
  head
    title Register Attendant
    link(rel="stylesheet", href="/css/register-atttendant.css")
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet")
  body
    // Navbar
    .navbar-custom.d-flex.justify-content-between.align-items-center
      .d-flex.align-items-center
        a(href="/dashboard" class="d-flex align-items-center text-decoration-none")
          img(src='/images/mwf-logo.png' alt='MWF Logo' class='logo')  
          span.company-name.ms-2 Mayondo Wood & Furniture Ltd
      .d-flex.align-items-center
        a.btn.btn-outline-light.me-3(href="/dashboard") Dashboard
        span.user-role Manager

    // Form Container
    .container
      h2 Register New Attendant
      form(action="/register-attendant" method="POST" novalidate)
        .mb-3
          label.form-label Full Name
          input.form-control(type="text" name="fullName" required)
        .mb-3
          label.form-label Age
          input.form-control(type="number" name="age" min="18" required)
        .mb-3
          label.form-label National ID (NIN)
          input.form-control(type="text" name="nin" required)
        .mb-3
          label.form-label Phone Number
          input.form-control(type="tel" name="phone" placeholder="e.g. +2567XXXXXXX" required)
        .mb-3
          label.form-label Email Address
          input.form-control(type="email" name="email" required)
        .mb-3
          label.form-label Gender
          select.form-select(name="gender" required)
            option(value="") -- Select Gender --
            option(value="Male") Male
            option(value="Female") Female
            option(value="Other") Other
        .mb-3
          label.form-label Password
          input.form-control(type="password" name="password" required)
        button.btn.btn-success(type="submit") Register Attendant
  script(src="/js/register-atttendant.js")      
